.info-container {
  margin: 0;
  padding: 0;
  background: red;
}

.info-search {
  height: 270px;
  margin-left: 90px;
  margin: 54px 0px 54px 90px;

  display: flex;
  /*
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;  
  */
  background-color: #E6F7FF;
  flex-direction: column;
  justify-content: space-between;
  
}

.info-search h1 {
  margin-top: 54px;
  margin-left: 31px;
  background-color: #E6F7FF;

}

.info-search form {
  background-color: #E6F7FF;
  height: 100%;
  padding: 0px;
  margin-left: 31px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /*justify-content: space-between;*/
  /*align-content: space-around;*/
  /*justify-content: space-around;*/
}

.info-search form input {
  margin-top: 12px;
}

.info-search form button {
  margin-top: 32px;
  flex-direction: column;
}


/* === */
.info-data {
  height: 334px;
  background-color: blue;
  margin: 54px 0px 0px 90px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.info-avatar {
  max-height: 47px;
  max-width: 270px;
  margin-top: 43px;
  background-color: aqua;
  margin-left: 31px;

  display: flex;
  display: block;
  margin: auto auto;

}

.info-profile {
  height: 247px;
  width: 100%;
  margin-top: 43px;
  margin-left: 29px;
  margin-right: 16px;
  background-color: blueviolet;

  padding: 10px;

  display: flex;
  flex-direction: column;

}

.info-profile-title {
  margin-bottom: 20px;
  background-color: red;
  height: 30px;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
}


/* === */


@media (max-width: 576px) {
  .info-data {
    height: 334px;
    background-color: red;
    margin: 54px 0px 0px 90px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .info-avatar {
    max-height: 247px;
    max-width: 270px;
    margin-top: 43px;
    background-color: aqua;
    margin-left: 31px;
  
    display: flex;
    display: block;
    margin: auto auto;
  
    max-width: 247px;
  }
  
  .info-profile {
    height: 247px;
    width: 100%;
    margin-top: 43px;
    margin-left: 29px;
    margin-right: 16px;
    background-color: blueviolet;
  
    padding: 10px;
  
    display: flex;
    flex-direction: column;
  
  }
  
  .info-profile-title {
    margin-bottom: 20px;
    background-color: red;
    height: 30px;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
  }
  
}


@media(max-width: 5000px) {
  .info-data {  
    flex-direction: column;
    justify-content: space-between;
  }

  .info-avatar {

    max-height: 247px;
    width: 100%; /*247px;*/

    margin: 0;
    padding: 0;
    background-color: aqua;

    display: flex;
    align-items: center;
    justify-content: center;      
  }

  .info-avatar-img {
    max-height: 247px;
    max-width: 247px;
  }
 
}

