/*
.info-data {
  margin-top: 54px;
  margin-right: 200px;
  width: 100%;
  display: flex;
  background-color:#F5F5F5;
  background-color: green;
  border-radius: 16px;
}

.info-avatar {
  border-radius: 16px;
  background-color: #F5F5F5;
}

.info-avatar-img {
  max-width: 257px;
  max-height: 257px;
  background-color: pink;
  margin-left: 38px;
  margin-right: 29px;
}

.info-profile {
  background-color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #D9D9D9;
  margin-top: 43px;
  margin-bottom: 43px;
  margin-right: 43px;
  margin-left: 5px;
  width: 100%;
  padding: 5px;
}

.info-profile-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
*/


.info-search {
  background-color: #E6F7FF;
  margin: 54px auto 54px auto;
}

.text-primary h1 {
  color: #262626;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  margin: 54px 31px 12px 31px;

}


.info-search form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-search-form-input {
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;    
  margin: 12px auto 24px 31px;

}
.info-search-form-input input {
  margin: 8px 27px 8px 17px;
  color:#5C5858;
  background-color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 0;

} 

.info-search-form button {
  /*background-color: #1890FF;
  color: white;
  */
  color: white;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;    
  margin: 24px auto 54px 31px;
}


/* -- */
.info-data {
  margin: 54px 0 0 0;
  padding: 0;
  border-radius: 16px;
  background-color: #F5F5F5;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*
  align-items: center;
  justify-content: center;
  */

}

.info-avatar {
  margin: 43px 0px 44px 38px;
}  

.info-profile {
  margin: 43px 29px 44px 29px;

  background-color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #D9D9D9;
  padding: 5px;
}

.info-profile-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #1890FF;
}  

/*
@media (max-width: 576px) {

  .info-search {
    background-color: #E6F7FF;
    margin: 54px auto 54px auto;
  }

  .text-primary h1 {
    color: #262626;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    margin: 54px 31px 12px 31px;

  }


  .info-search form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .info-search form input {
    background-color: #fff;
  }  

  .info-search-form-input input {
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;    
    margin: 12px auto 24px 31px;

  }
  .info-search-form-input input {
    margin: 8px 27px 8px 17px;
    color:#5C5858;
    background-color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 0;

  } 
  
  .info-search-form button {
    color: white;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    margin: 24px auto 54px 31px;
  }


  .info-data {
    margin: 54px 0 0 0;
    padding: 0;
    border-radius: 16px;
    background-color: #F5F5F5;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .info-avatar {
    margin: 43px 29px 44px 38px;
  }  

  .info-profile {
    margin: 0px 29px 44px 38px;

    background-color: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    padding: 5px;
  }

  .info-profile-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #1890FF;
  }  

}
*/