.result-container {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: initial;
    align-items: center;
    margin-bottom: 10px;
}

.result-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.result-description {
  font-size: 14px;
  margin: 0;
}

.result-container {
  display: flex;
  flex-direction: row;
  height: 35px;
}

.result-container h3 {
  font-size: 16px;
}

.result-container p {
  font-size: 16px;
  padding-left: 5px;
}

.result-container a, a:hover {
  padding-left: 5px;
  text-decoration: underline;
  color: #0000ff;
}
